{% extends 'base.html.twig' %}

{% block title %} modification{% endblock %}

{% block content %}
   <div class="container">
       <h1>{{ 'title.edit_post'|trans({'id' : post.id}) }}</h1>

       {{ include('admin/blog/_form.html.twig', {
           form: form,
           button_label: 'action.save'|trans
       }) }}
   </div>
{% endblock %}
