{% extends 'base.html.twig' %}

{% block title %} modification{% endblock %}

{% block content %}
   <div class="container">
       <h1>{{ 'name.edit_category'|trans({'id' : categories.id}) }}</h1>
       {{ include('admin/category/_form.html.twig', {
           form: form,
           button_label: 'action.save'|trans
       }) }}
   </div>
{% endblock %}
